ion-item {
    --min-height: 5px;
    --color: white;
}

ion-label{
    --color: white;
}

ion-icon{
	color: rgb(250, 144, 144) !important;
}

ion-datetime{
    --color: white;
    color: white;
    --ion-background-color:#b8b8c9;
} 

ion-item-group{
    --ion-background-color: #08436d !important;
}